@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

/* Formatação do corpo e titulos */

body {
    color: #000000;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background);
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 21pt;
    font-weight: lighter;
    text-align: center;
    color: var(--color-text);
    margin: 0px;
    padding: 10px;
    box-shadow: 10px 5px 25px #000000;
}

p#temaEscuro {
    display: flex;
    justify-content: center;
    color: var(--color-text);
}

p#temaEscuro button {
    cursor: pointer;
    margin-left: 10px;
    color: var(--color-text);
    background: none;
    border: 1px solid;
}

p#temaEscuro button:hover {
    color: #FF0000;
}


div#painelClientes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    font-weight: lighter;
    text-align: center;
    color: var(--color-text);
    margin-top: 0;
}

/* Formatação do Formulário - Cadastro de clientes */

div#cadastroCliente {
    height: 50%;
    padding: 25px;
    box-shadow: 10px 5px 25px #000000;
}

p#formCliente {
    font-size: 10pt;
    text-align: left;
    color: var(--color-text);
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 50px;
}

caption {
    font-size: 10pt;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
}

form#formCliente input {
    display: flex;
    width: 240px;
    height: 25px;
    color: var(--color-text);
    margin: 0 auto;
    background: none;
    border: 1px solid;
}

table#tabelaSetor {
    width: 100%;
    color: var(--color-text);
    border-collapse: collapse;
}

table#tabelaSetor td {
    font-size: small;
    text-align: center;
    padding: 0px;
    background: none;
    border: 1px solid;
}

tr:nth-child(even) {
    background-color: #ffffff25;
}

tr:nth-child(odd) {
    background-color: #20202025;
}


/* Formatação do botão - Salvar */

div#botaoSalvar {
    padding-top: 20px;
}

div#botaoSalvar button#salvar {
    width: 330px;
    height: 50px;
    color: var(--color-text);
    font-size: 11pt;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 0px;
}

p#botaoSalvar button#salvar:hover {
    border: 1px solid;
}

/* Formatação do painel de empresas */

div#clientes {
    height: 480px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--color-text);
    overflow-y: scroll;
    margin-left: 30px;
    padding: 30px;
    box-shadow: 10px 5px 25px #000000;
}

div.clientes {
    margin-bottom: 7px;
    padding: 10px;
}

div.editarExcluir {
    display: flex;
    justify-content: center;
    padding: 10px;
}

button.editar {
    cursor: pointer;
    color: var(--color-text);
    background: none;
    border: 1px solid;
}

button.excluir {
    cursor: pointer;
    color: var(--color-text);
    margin-left: 10px;
    background: none;
    border: 1px solid;
}

button.editar:hover {
    color: #008000;
}

button.excluir:hover {
    color: #FF0000;
}

/* Formatação do rodapé */

footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    color: var(--color-text);
}

footer#redeSocial a {
    text-decoration: none;
    margin-top: 10px;
    color: var(--color-text);
}

footer#redeSocial a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

/* Modo escuro */

p#temaEscuro input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

p#temaEscuro label {
    cursor: pointer;
    width: 50px;
    height: 27px;
    background-color: #202020;
    border-radius: 100px;
    position: relative;
}

p#temaEscuro label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 90px;
    transition: 0.3s;
}

p#temaEscuro input:checked+label {
    background-color: #ffffff;
}

p#temaEscuro input:checked+label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background-color: #202020
}

p#temaEscuro label:active:after {
    width: 45px;
}

/* Responsivo */

@media (max-width: 905px) {

    body {
        background-color: var(--background);
    }

    div#painelClientes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div#cadastroCliente {
        padding: 10px;
    }

    div#clientes {
        width: 75%;
        margin: 5vh;
    }

    div#tabelaLeads {
        width: 75%;
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
    }

    div.empresa {
        margin-left: 0px;
    }
}