@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

/* Formatação do corpo e titulos */

body {
    color: #000000;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    /*background-image: url("../imagens/3d-black-hexagons-c8ju0xil21isq0k8.jpg");*/
    /*background-color: #202020;*/
    background-color: var(--bg);
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 21pt;
    font-weight: lighter;
    text-align: center;
    color: var(--color-headings);
    margin: 0px;
    padding: 10px;
    box-shadow: 10px 5px 25px #000000;
}

p#usuarioLogado {
    display: flex;
    justify-content: center;
    text-align: center;
}

p#usuarioLogado button {
    text-align: center;
    color: var(--color-text);
    cursor: pointer;
    margin-left: 10px;
    background: none;
    border: 0;
}

p#usuarioLogado button:hover {
    color: #FF0000;
}


div#painelClientes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--bg-panel);
}

h2 {
    font-weight: lighter;
    text-align: center;
    color: var(--color-headings);
}

/* Formatação do Formulário - Cadastro de clientes */

div#cadastroCliente {
    height: 50%;
    padding: 30px;
    box-shadow: 10px 5px 25px #000000;
}

p#formCliente {
    font-size: 10pt;
    text-align: left;
    color: var(--color-text);
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 50px;
}

caption {
    font-size: 10pt;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
}

form#formCliente input {
    display: flex;
    width: 240px;
    height: 25px;
    color: #ffffff;
    margin: 0 auto;
    background: none;
    border: 1px solid #ffffff;
}

table#tabelaSetor {
    width: 100%;
    color: var(--color-headings);
    border-collapse: collapse;
    border: 1px solid #000000;
}

table#tabelaSetor td {
    font-size: small;
    text-align: center;
    padding: 0px;
    background: none;
    border: 1px solid #ffffff;
}

tr:nth-child(even) {
    background-color: #ffffff1b;
}

/* Formatação do botão - Salvar */

div#botaoSalvar {
    padding-top: 20px;
}

p#botaoSalvar button[type="button"] {
    width: 330px;
    height: 50px;
    color: #ffffff;
    font-size: 11pt;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 0px;
    color: var(--color-headings);
}

p#botaoSalvar button[type="button"]:hover {
    border: 1px solid #000000;
}

/* Formatação do painel de empresas */

div#clientes {
    height: 510px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;
    margin-left: 30px;
    padding: 30px;
    box-shadow: 10px 5px 25px #000000;
}

div.clientes {
    margin-bottom: 7px;
    padding: 10px;
}

div.editarExcluir {
    display: flex;
    justify-content: center;
    padding: 10px;
}

button.editar {
    cursor: pointer;
    color: #ffffff;
    background: none;
    border: 1px solid #ffffff;
}

button.excluir {
    cursor: pointer;
    color: #ffffff;
    margin-left: 10px;
    background: none;
    border: 1px solid #ffffff;
}

button.editar:hover {
    color: #008000;
}

button.excluir:hover {
    color: #FF0000;
}

/* Formatação do rodapé */

footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    color: var(--color-headings);
}

footer#redeSocial a {
    text-decoration: none;
    margin-top: 10px;
    color: var(--color-headings);
}

footer#redeSocial a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

/* Modo escuro */

p#usuarioLogado input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

p#usuarioLogado label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background-color: #202020;
    border-radius: 100px;
    position: relative;
}

p#usuarioLogado label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 90px;
    transition: 0.3s;
}

p#usuarioLogado input:checked+label {
    background-color: var(--color-headings);
}

p#usuarioLogado input:checked+label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background-color: #202020
}

p#usuarioLogado label:active:after {
    width: 45px;
}

/* Responsivo */

@media (max-width: 905px) {

    body {
        /*background-image: url("../imagens/3d-black-hexagons-c8ju0xil21isq0k8.jpg");*/
        background-color: #202020;
    }

    div#painelClientes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div#cadastroCliente {
        padding: 10px;
    }

    div#clientes {
        width: 75%;
        margin: 5vh;
    }

    div#tabelaLeads {
        width: 75%;
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
    }

    div.empresa {
        margin-left: 0px;
    }
}