@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

/* Formatação do corpo e titulos */

body {
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-image: url("/imagens/fundo1.jpg");
}

div#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#login {
    height: 50%;
    margin-top: 5vh;
    padding: 30px;
    box-shadow: 1px 1px 15px #8B0000;
}

header h1 {
    color: #ffffff;
    font-size: 21pt;
    font-weight: lighter;
    text-align: center;
    margin: 0px;
    padding: 10px;
    background: linear-gradient(to right, #000000, #8B0000, #000000);
}

h2 {
    font-weight: lighter;
    text-align: center;
}

/* Formatação dos Inputs */

div#login p {
    font-size: 10pt;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

div#login a {
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 49px;
    text-decoration: none;
}

div#login a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

div#login input {
    height: 20px;
    display: flex;
    color: #ffffff;
    margin-bottom: 30px;
    background: none;
    border: 1px solid #8B0000;
}

div#login button#entrar {
    height: 40px;
    width: 100%;
    color: #ffffff;
    font-size: 10pt;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid #8B0000;
}

div#login button#entrar:hover {
    color: #ffffff;
    border: 0px;
    background: linear-gradient(to right, #000000, #8B0000, #000000);
}

/* Formatação do rodapé */

footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

footer#redeSocial a {
    text-decoration: none;
    margin-top: 10px;
    color: #ffffff;
}

footer#redeSocial a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

/* Responsivo */

@media (max-width: 905px) {

    body {
        background-image: url("/imagens/fundo2.JPG");
    }
}