/* Formatação do corpo e titulos */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

:root {
    --color-text-default: #fefefe;
    --color-text-details: #1b1b1b;
    --background-color-default: #6d6d6d;
    --btn-green: #2e7d32;
    --btn-red: #b24940;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color-default);
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 21pt;
    font-weight: lighter;
    text-align: center;
    color: var(--color-text-default);
    margin: 0px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #1b1b1b;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h2 {
    font-weight: bold;
    text-align: center;
    color: var(--color-text-default);
}

/* Responsividade */

@media (max-width: 905px) {

    h1 {
        margin-bottom: 25px;
    }

    h2 {
        margin-top: 0px;
    }
}