/* Formatação da tela usuário */

.containerCadastroUsuario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cadastroUsuario {
    height: 50%;
    padding: 30px;
    border: solid 1px var(--border-box);
    box-shadow: 3px 3px 5px var(--border-box);
}

/* Formatação dos Inputs */

.cadastroUsuario p {
    font-size: 10pt;
    color: var(--color-text);
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.cadastroUsuario a {
    display: flex;
    justify-content: center;
    color: var(--color-text);
    text-decoration: none;
}

.cadastroUsuario input {
    height: 20px;
    display: flex;
    color: var(--color-text);
    margin-bottom: 30px;
    background: none;
    border: 1px solid;
}

.cadastroUsuario button#cadastrar {
    height: 40px;
    width: 100%;
    font-size: 10pt;
    color: var(--color-text);
    text-align: center;
    cursor: pointer;
    background: none;
    border: 0px;
}

.cadastroUsuario button#cadastrar:hover {
    color: var(--color-text);
    border: 1px solid;
}

/* Formatação do rodapé */

.redeSocial {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    color: var(--color-text);
}

.redeSocial a {
    text-decoration: none;
    margin-top: 10px;
    color: var(--color-text);
}

.redeSocial a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

/* Responsividade */

@media (max-width: 905px) {

    .cadastroUsuario {
        padding: 15px;
    }
}